<section class="hero is-fullheight is-bold is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                リクエストが不正です。
            </h1>
        </div>
    </div>
</section>
