<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScreenOverwriter</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/bulma/css/bulma.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body>
    <header>
        <nav class="navbar is-light">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" asp-controller="Home" asp-action="Index">
                        <label class="label is-large">ScreenOverwriter</label>
                    </a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="navbar-item" asp-controller="Home" asp-action="CreateNewThread">Create</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <environment include="Development">
        <script src="~/lib/vue/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vue/vue.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
