@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<section class="hero is-fullheight is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-7">
                    <h1 class="title is-2">
                        Reaction is All You Need.
                    </h1>
                    <h2 class="subtitle is-4">
                        画面共有でもニコ〇コとかビ〇ビリみたいにコメントを流そう！
                    </h2>

                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <p>
                                使い方: フォームからスレッドを作成してください。URLが発行されるので、視聴者に共有してください。
                                視聴者はブラウザで完結します。
                                画面共有する人はクライアントアプリ(win,mac対応)をダウンロードしてください。
                            </p>
                        </div>
                    </div>

                    <p class="has-text-centered">
                        <a class="button is-medium is-info is-outlined" asp-controller="Home" asp-action="Usage">
                            詳しい使い方
                        </a>
                    </p>

                    <div class="m-3">
                        <div class="has-text-centered">
                            <span class="has-text-danger">2021/9/10 Ver.0.2.0 リリース</span> Googleアカウントで<a class="has-text-info" asp-controller="Account" asp-action="Login" >ログイン</a>が出来るようになりました。
                        </div>
                        <div class="has-text-centered">
                            <span class="has-text-danger">2021/4/18 Ver.0.1.0 リリース</span> ダウンロードは<a href="https://github.com/nenoNaninu/Rayn/releases" class="has-text-info">こちらから。</a>
                        </div>
                    </div>


                </div>
                <div class="column is-4 is-offset-1">
                    <div class="card ">
                        <div class="card-content">
                            <p class="title">
                                新規スレッドの作成
                            </p>
                            <form asp-controller="Thread" asp-action="CreateNewThread">
                                <div class="field">
                                    <label class="label">タイトル</label>
                                    <div class="control">
                                        <input class="input" type="text" required="required" placeholder="〇〇〇を語る会" asp-for="ThreadCreateRequest!.Title">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="BeginningDate" class="label">配信予定日</label>
                                    <div class="control">
                                        <input class="input" type="date" asp-for="ThreadCreateRequest!.BeginningDate" id="BeginningDate">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="button is-link" type="submit" value="作成">
                                    </div>
                                </div>
                                <input type="hidden" id="DateOffset" asp-for="ThreadCreateRequest!.DateOffset" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script>
        let date = new Date();
        let dateStr = date.getFullYear() + "-" + String((date.getMonth() + 1)).padStart(2, "0") + "-" + String(date.getDate()).padStart(2, "0");

        document.getElementById('BeginningDate').value = dateStr;
        document.getElementById('DateOffset').value = -date.getTimezoneOffset();
    </script>
}
