<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RAYN.</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/bulma/css/bulma.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body class="wf-mplus1p">
<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">
                    <label class="label is-large">@ViewData["ThreadTitle"]</label>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-item" asp-controller="Home" asp-action="Usage">Usage</a>
                @*<a class="navbar-item" asp-controller="Home" asp-action="CreateNewThread">Create</a>*@
            </div>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>

@*<footer class="hero is-bold is-light is-fullwidth is-fullheight">
</footer>*@

<environment include="Development">
    <script src="~/lib/vue/vue.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/vue/vue.min.js"></script>
</environment>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>