@model NewThreadRequestModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="hero is-fullheight is-bold is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered is-offset-1">
                <div class="column is-7">
                    <h1 class="title is-2">
                        CommentShower(仮)(CoS)
                    </h1>
                    <h2 class="subtitle is-4">
                        画面共有でもニコ〇コとかビ〇ビリみたいにコメントを流そう！
                    </h2>
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <p>
                                使い方: フォームからスレッドを作成してください。URLが発行されるので、視聴者に共有してください。
                                視聴者はブラウザで完結します。
                                画面共有している人はクライアントアプリ(win,mac対応)をダウンロードしてください。
                            </p>
                        </div>
                    </div>

                    <p class="has-text-centered">
                        <a class="button is-medium is-info is-outlined">
                            詳しい使い方
                        </a>
                    </p>
                </div>
                <div class="column is-4 is-offset-1">
                    <div class="card ">
                        <div class="card-content">
                            <p class="title">
                                新規スレッドの作成
                            </p>
                            @*<p class="subtitle">
                                ん～。
                            </p>*@
                            <form asp-controller="Thread" asp-action="CreateNewThread">
                                <div class="field">
                                    <label asp-for="Title" class="label">タイトル</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="〇〇〇を語る会" asp-for="Title">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="BeginningDate" class="label">配信予定日</label>
                                    <div class="control">
                                        <input class="input" type="date" name="BeginningDate" id="BeginningDate">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="button is-link" type="submit" value="作成">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>